.container {
    
    background-color: #ccc;      
    padding: 16px;
    display: flex;
    flex-direction: column;

    height: 100%;
   
}

.item {
    display: flex;
    flex-direction: row;
    background-color: #ccc;    
    margin-bottom: 16px;
    color: #fff;
    font-size: 30px;
    text-align: center;  
    flex-grow: 1;
}

.item:last-child {
    margin-bottom: 0;
}

.item-element {
    margin-right: 16px;
    flex-grow: 1;
    background-color: #f1425d;
}

.item-element:last-child {
    margin-right: 0;
}